:root {
  --cool-dark: #061130;
  --cool-blue: #1C4BC4;
  --cool-light: #F4F6F8;
  --cool-yellow: #FAFD61;
}

body {
  background-color: var(--cool-dark);
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

header a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 4em;
}

.nav-btn {
  border: 0;
  background-color: #1C4BC4;
  color: white;
  font-weight: bold;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.yellow-font {
  color: #FAFD61;
  font-weight: bold;
}

main {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 6em;
  font-family: sans-serif;

}

nav {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 5em;
  font-family: sans-serif;
  flex-wrap: wrap;
}


footer {
  background-color: #F4F6F8;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1em;
  font-family: sans-serif;
}

.w-50 {
  width: 50%;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 900px) {

  main {
    flex-wrap: wrap;
    padding: 4em;
  }

  .w-50 {
    width: unset;
  }

}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    ;
  }
}